#main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f1f2f3;
}
#main .top {
  background: -webkit-linear-gradient(#bbbbbc -11%, #fff 19%, #fff 89%, #f0f1f2 100%);
}
#main .top .nav {
  width: 100%;
  height: 40px;
}
#main .top .tu {
  text-align: center;
}
#main .top .tu img {
  width: 70%;
  margin: auto;
  padding-bottom: 7%;
}
#main .name {
  background-color: #FFF;
}
#main .name p {
  width: 95%;
  margin: auto;
  padding: 1% 0;
  font-size: 1.4rem;
  color: #57585a;
}
#main .name p:first-child {
  font-size: 1.7rem;
  color: #000;
}
#main .name p:nth-of-type(2) {
  line-height: 2rem;
}
#main .name p:nth-of-type(2) span:first-child {
  color: red;
  font-size: 2rem;
  margin-right: 3%;
}
#main .name p:nth-of-type(2) span:nth-of-type(2) {
  text-decoration: line-through;
}
#main .name p:nth-of-type(2) span:last-child {
  float: right;
}
#main .name p:last-child {
  line-height: 2rem;
  border-top: 1px solid #f2f3f4;
}
#main .name p:last-child span:last-child {
  float: right;
}
#main .bottom {
  margin-top: 3%;
  background-color: #fff;
}
#main .bottom .select a {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.7rem;
  color: #636465;
  padding: 3% 0;
}
#main .bottom .swip {
  height: 2px;
  background-color: #f1f2f3;
}
#main .bottom .swip p {
  height: inherit;
  width: 50%;
  float: left;
  position: absolute;
  left: 0%;
}
#main .bottom .swip p span {
  height: inherit;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  background-color: red;
  position: absolute;
  top: 0;
  left: 25%;
}
#main .bottom .conn1 {
  display: block;
}
#main .bottom .conn1 img {
  width: 95%;
  margin: 2.5% auto;
}
#main .bottom .conn1 p {
  width: 95%;
  margin: auto;
  font-size: 1.3rem;
  color: #575759;
}
#main .bottom .conn1 p:last-child {
  margin-bottom: 5%;
}
#main .bottom .conn2 {
  display: none;
  font-size: 1.4rem;
}
#main .bottom .conn2 .assess {
  padding: 0 2.5%;
  border-bottom: 2px solid #f1f2f3;
}
#main .bottom .conn2 .assess img {
  width: 16%;
  margin-left: 3%;
  display: inline-block;
}
#main .bottom .conn2 .assess p {
  padding: 1% 0;
}
#main .bottom .conn2 .assess p:first-child .ass-time {
  float: right;
}
#main .foot {
  height: 60px;
  background-color: #fff;
}
#main .foot .inn {
  width: 100%;
  height: 60px;
  padding: 0 2.5%;
  position: fixed;
  bottom: 0;
  background-color: #f1f2f3;
}
#main .foot .inn .shopping {
  display: inline-block;
  width: 62px;
  height: 60px;
  background: url(../img/selldetail-5.png) left center no-repeat;
  background-size: 80%;
}
#main .foot .inn .shop {
  width: 70%;
  float: right;
}
#main .foot .inn .shop a {
  width: 40%;
  margin: 0 4%;
  padding: 3% 0;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#main .foot .inn .shop a:first-child {
  background-color: #e69633;
}
#main .foot .inn .shop a:last-child {
  background-color: #e93b49;
}
#main .foot .inn .shop:after {
  content: '';
  display: inline-block;
  height: 60px;
  vertical-align: middle;
}
#main .member {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #814100;
  font-size: 2.5rem;
}
#main .member .memberfram {
  width: 90%;
  height: 50%;
  position: absolute;
  top: -30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(../img/selldetail-7.png) center no-repeat;
  background-size: 100%;
}
#main .member .memberfram .membertext {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#main .member .memberfram .membertext p {
  width: 100%;
}
#main .member .memberfram .membertext .money {
  color: red;
}
#main .member .memberfram .membertext p:nth-of-type(2) {
  margin-top: 1%;
}
#main .member .memberfram .membertext a {
  width: 40%;
  display: inline-block;
  color: #FFFFFF;
  padding: 2%;
  margin-top: 7%;
  border-radius: 50px;
  background-color: #a0d741;
  box-shadow: 0 2px #7ec22b;
}
#main .share {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#main .share .sharecon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 37%;
  background-color: #fff;
  text-align: center;
}
#main .share .sharecon .sharetop {
  font-size: 2rem;
  padding: 2%;
}
#main .share .sharecon .shareposition {
  height: 50%;
}
#main .share .sharecon .shareposition a {
  display: inline-block;
  width: 33.333333333333336%;
  height: 100%;
  float: left;
  color: #000;
  font-size: 1.5rem;
}
#main .share .sharecon .shareposition a:before {
  content: '';
  width: 50%;
  height: 70%;
  display: block;
  margin: auto;
  background: url(../img/selldetail-8.png) left no-repeat;
  background-size: 300%;
}
#main .share .sharecon .shareposition a:nth-of-type(2):before {
  background-position: center;
}
#main .share .sharecon .shareposition a:nth-of-type(3):before {
  background-position: right;
}
#main .share .sharecon .shareCancel {
  width: 80%;
  margin: 3% auto 0;
  display: block;
  font-size: 2rem;
  color: #000;
  padding: 2%;
  background-color: #cbcccd;
  border-radius: 10px;
  letter-spacing: 2rem;
  text-indent: 2rem;
}
/*# sourceMappingURL=selldetail.css.map */
